@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400&family=Source+Sans+Pro&display=swap');

:root {
	--font-title: 'Source Sans Pro', sans-serif;
	--font-body: 'Poppins', sans-serif;
	--color-bg: #0081a7;
	--color-prim: #00afb9;
	--color-sec: #fdfcdc;
	--color-ter: #fed9b7;
	--color-accent: #f07167;
}

body {
	margin: 0;
	font-family: var(--font-body);
	font-size: 16px;
}
