.task {
	background-color: var(--color-prim);
	margin: 4px;
	padding: 8px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: var(--color-ter);
}

.delete {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	padding: 2px;
	margin: 2px;
	background-color: var(--color-accent);
	color: var(--color-sec);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.count {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	padding: 2px;
	margin: 2px;
	background-color: var(--color-ter);
	color: var(--color-bg);
	font-size: 0.8em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.view {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	padding: 2px;
	margin: 2px;
	background-color: var(--color-bg);
	color: var(--color-sec);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.task p {
	font-size: 0.8em;
	flex-grow: 1;
	text-align: left;
	cursor: pointer;
}
